# Label Encoding or Ordinal Encoding

This type of encoding is used when the variables in the data are ordinal, ordinal encoding converts each label into integer values and the encoded data represents the sequence of labels.

In [8]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /home/user/anaconda3/lib/python3.9/site-packages (2.5.1.post0)
Requirement already satisfied: statsmodels>=0.9.0 in /home/user/anaconda3/lib/python3.9/site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: pandas>=1.0.5 in /home/user/anaconda3/lib/python3.9/site-packages (from category_encoders) (1.4.4)
Requirement already satisfied: patsy>=0.5.1 in /home/user/anaconda3/lib/python3.9/site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in /home/user/anaconda3/lib/python3.9/site-packages (from category_encoders) (1.9.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /home/user/anaconda3/lib/python3.9/site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: numpy>=1.14.0 in /home/user/anaconda3/lib/python3.9/site-packages (from category_encoders) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/user/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/user/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: six in /home/user/anaconda3/lib/python3.9/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=0.11 in /home/user/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/user/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in /home/user/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/user/anaconda3/lib/python3.9/site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)

In [3]:
import category_encoders as ce
import pandas as pd

In [4]:
df=pd.DataFrame({'height':
                 ['tall','medium','short','tall','medium','short','tall','medium','short',]})

In [5]:
# create object of Ordinalencoding


encoder= ce.OrdinalEncoder(cols=['height'],return_df=True,
                           mapping=[{'col':'height',
'mapping':{'None':0,'tall':1,'medium':2,'short':3}}])

In [6]:
#Original data

print(df)

   height
0    tall
1  medium
2   short
3    tall
4  medium
5   short
6    tall
7  medium
8   short

In [7]:
df['transformed'] = encoder.fit_transform(df)

print(df)

   height  transformed
0    tall            1
1  medium            2
2   short            3
3    tall            1
4  medium            2
5   short            3
6    tall            1
7  medium            2
8   short            3

# One-Hot Encoding

In One-Hot Encoding, each category of any categorical variable gets a new variable. It maps each category with binary numbers (0 or 1). This type of encoding is used when the data is nominal. Newly created binary features can be considered dummy variables. After one hot encoding, the number of dummy variables depends on the number of categories presented in the data.

The way to achieve this in python is illustrated below.

In [9]:
df=pd.DataFrame({'name':[
'rahul','ashok','ankit','aditya','yash','vipin','amit'
]})

In [10]:
encoder=ce.OneHotEncoder(cols='name',handle_unknown='return_nan',
                         return_df=True,use_cat_names=True)

In [11]:
#Original Data
print(df)

     name
0   rahul
1   ashok
2   ankit
3  aditya
4    yash
5   vipin
6    amit

In [12]:
#Fit and transform Data
df_encoded = encoder.fit_transform(df)
print(df_encoded)

   name_rahul  name_ashok  name_ankit  name_aditya  name_yash  name_vipin  \
0         1.0         0.0         0.0          0.0        0.0         0.0
1         0.0         1.0         0.0          0.0        0.0         0.0
2         0.0         0.0         1.0          0.0        0.0         0.0
3         0.0         0.0         0.0          1.0        0.0         0.0
4         0.0         0.0         0.0          0.0        1.0         0.0
5         0.0         0.0         0.0          0.0        0.0         1.0
6         0.0         0.0         0.0          0.0        0.0         0.0

   name_amit
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        1.0

Here in the above output, we can see dummy variables for every category.

# Effect Encoding

In this type of encoding, encoders provide values to the categories in -1,0,1 format. -1 formation is the only difference between One-Hot encoding and effect encoding.

After implementing this, we can understand it properly.

In [13]:
data=pd.DataFrame({'City':['Delhi','Mumbai','Hyderabad','Chennai','Bangalore','Delhi','Hyderabad']})

In [14]:
encoder=ce.sum_coding.SumEncoder(cols='City',verbose=False,)

In [15]:
#Original Data
data

        City
0      Delhi
1     Mumbai
2  Hyderabad
3    Chennai
4  Bangalore
5      Delhi
6  Hyderabad

In [16]:
df=encoder.fit_transform(data)

/home/user/anaconda3/lib/python3.9/site-packages/category_encoders/base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
/home/user/anaconda3/lib/python3.9/site-packages/category_encoders/base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

In [17]:
df

   intercept  City_0  City_1  City_2  City_3
0          1     1.0     0.0     0.0     0.0
1          1     0.0     1.0     0.0     0.0
2          1     0.0     0.0     1.0     0.0
3          1     0.0     0.0     0.0     1.0
4          1    -1.0    -1.0    -1.0    -1.0
5          1     1.0     0.0     0.0     0.0
6          1     0.0     0.0     1.0     0.0

Here in the above output, we can see that the encoder has given -1 to Bangalore in every dummy variable. This is how a dummy variable is generated by the consists of -1,0 and 1 as an encoded category.

# Hash Encoder

Just like One-Hot encoding, the hash encoder converts the category into binary numbers using new data variables but here we can fix the number of new data variables. Before going to the implementation we should know about hashing. So hashing is used for the transformation of arbitrary size input in the form of a fixed-size value.

Implementation of Hash Encoding in Python

In [18]:
data=pd.DataFrame({'Month':['January','April','March','April','Februay','June','July','June','September']})

In [19]:
#Create object for hash encoder
encoder=ce.HashingEncoder(cols='Month',n_components=6)

In [20]:
#Fit and Transform Data
encoder.fit_transform(data)

   col_0  col_1  col_2  col_3  col_4  col_5
0      0      0      0      0      1      0
1      0      0      0      1      0      0
2      0      0      0      0      1      0
3      0      0      0      1      0      0
4      0      0      0      1      0      0
5      0      1      0      0      0      0
6      1      0      0      0      0      0
7      0      1      0      0      0      0
8      0      0      0      0      1      0

Hashing is a one-way technique of encoding which is unlike other encoders. The Hash encoder’s output can not be converted again into the input. That is why we can say it may cause loss of information from the data. It should be applied with high dimension data in terms of categorical values.

In the above example, we implemented a hashing encoder for 6 dummy variables instead of 8 dummy variables just by using n_encoding = 6.

# Binary Encoding

In the hash encoding, we have seen that using hashing can cause the loss of data and on the other hand we have seen in one hot encoding dimensionality of the data is increasing. The binary encoding is a process where we can perform hash encoding look like encoding without losing the information just like one hot encoding.

Basically, we can say that binary encoding is a combination process of hash and one hot encoding.

After implementation, we can see the basic difference between binary and hash and one hot encoding.

In [21]:
encoder= ce.BinaryEncoder(cols=['Month'],return_df=True)
data=encoder.fit_transform(data) 
data

   Month_0  Month_1  Month_2
0        0        0        1
1        0        1        0
2        0        1        1
3        0        1        0
4        1        0        0
5        1        0        1
6        1        1        0
7        1        0        1
8        1        1        1

Here in the output, we can see that without losing much information we have got encoded data with reduced dimensionality than the One-Hot encoding. This encoding is very helpful in the case of data with a huge amount of categories.

# Base-N Encoding

In a positional number system, base or radix is the number of unique digits including zero used to represent numbers. In base n encoding if the base is two then the encoder will convert categories into the numerical form using their respective binary form which is formally one-hot encoding. But if we change the base to 10 which means the categories will get converted into numeric form between 0-9. By implementation, we can understand it more.

In [28]:
#Create an object for Base N Encoding
encoder= ce.BaseNEncoder(cols=['Month'],return_df=True,base=5)

In [33]:
data

   Month_0  Month_1  Month_2
0        0        0        1
1        0        1        0
2        0        1        1
3        0        1        0
4        1        0        0
5        1        0        1
6        1        1        0
7        1        0        1
8        1        1        1

In [34]:
#Fit and Transform Data
data_encoded=encoder.fit_transform(data)

TypeError: fit_transform() missing argument: y

In [27]:
data_encoded

NameError: name 'data_encoded' is not defined

# Target Encoding

Target encoding is the method of converting a categorical value into the mean of the target variable. This type of encoding is a type of bayesian encoding method where bayesian encoders use target variables to encode the categorical value.

The target encoding encoder calculates the mean of the target variable for each category and by the mean, the categories get replaced. Let’s see how it works.

In [30]:
df=pd.DataFrame({'name':[
'rahul','ashok','ankit','rahul','ashok','ankit'
],'marks' : [10,20,30,60,70,80,]})

df

    name  marks
0  rahul     10
1  ashok     20
2  ankit     30
3  rahul     60
4  ashok     70
5  ankit     80

In [31]:
#Create target encoding object
encoder=ce.TargetEncoder(cols='name')

/home/user/anaconda3/lib/python3.9/site-packages/category_encoders/target_encoder.py:122: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter min_samples_leaf will change in version 2.6."
/home/user/anaconda3/lib/python3.9/site-packages/category_encoders/target_encoder.py:127: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter smoothing will change in version 2.6."

In [32]:
#Fit and Transform Train Data
encoder.fit_transform(df['name'],df['marks'])

        name
0  37.689414
1  45.000000
2  52.310586
3  37.689414
4  45.000000
5  52.310586

Here we can see the names of students are changed with the mean of their marks. This is a good method for encoding: using this we can encode any number of categories. But it can cause the overfitting of any model because we are using mean as a category and this generates a hard correlation between these features.

Using this we can train the model but in testing, it can lead to the failure or inaccuracy of the model.